
console-main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:inherit;
}
::-webkit-scrollbar{
    background-color: #000;
}
::-webkit-scrollbar-track{
    background-color: #888;
}
::-webkit-scrollbar-thumb{
    background-color: #444;
}

input[type=radio]{
    position: relative;
    top: 0px;
}

label, .pointer{
    cursor: pointer;
}

div.list div{
  width: fit-content;
}

div.list{
  margin-left: 2em;
}

div.list > div > div{
    margin-left: 4em;
}

.result-count-errors{
    color: tomato;
  }
  
  .result-count-warnings{
    color: orange;
  }
  
  .result-count-notices{
    color: darkcyan;
  }
  
  #test-results tr.error,
  #test-results tr.warning,
  #test-results tr.notice{
      display:none;
  }
  
  #test-results.show-error tr.error,
  #test-results.show-warning tr.warning,
  #test-results.show-notice tr.notice {
      display: table-row;
  }
  
  .wcagme-header a, 
  console-output a,
  console-output a:visited, 
  console-output a:hover, 
  console-output a:active{
    color: var(--color-fg);
    text-decoration: none;
  }
  
  console-output table,
  #test-results-noMessages{
    width: calc(100% - 1rem);
    max-width: 1000px;
    margin: 0 auto;
  }
  
  console-output table tbody{
    overflow-y: auto;
  }
  
  console-output table tbody,
  console-output table tr{
    display:block;
  }
  
  console-output table tr:first-of-type{
    display: table-row;
  }
  
  console-output td{
    vertical-align: baseline;
  }
  
  console-main ul{
    list-style-type: none;
  }
  
  console-main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    background: var(--color-bg);
    line-height: 1.5;
    position: fixed;
    width: 100vw;
    bottom: 0;
  }
  
  section{
    color:var(--color-fg);
    background: var(--color-bg);
  }
  
  section.wcagme-header{
    height: 1.5em;
    padding-top:0.1rem;
    width: 100%;
    background-color: #202020;
    color:white;
    cursor: pointer;
    border-bottom: 1px solid gray;
  }
  
  ruler{
    cursor: n-resize;
    padding:3px 0;
    display: block;
    unicode-bidi: isolate;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-width: 0.5px;
    background-color: #202020;
  }
  
  section.wcagme-header div{
    box-sizing: border-box;
  }
  
  section.wcagme-header > div:nth-child(1){
    float: left;
    padding-left: 0.5rem;
    width: 4em;
    max-width: 4em;
    min-width: 4em;
  }
  
  section.wcagme-header > div:nth-child(2){
    float: left;
    width: calc(100% - 6rem);
    max-width: calc(100% - 6rem);
    min-width: calc(100% - 6rem);
  }
  
  section.wcagme-header > div:nth-child(3){
    float:right;
    text-align: right;
    padding-right: 0.5rem;
    width: 2rem;
    max-width: 2rem;
    min-width: 2rem;
  }
  
  section.wcagme-header div.wcagme-button{
    position:fixed;
    right:0;
    max-height:1rem;
  }
  
  section.wcagme-header div.wcagme-button.wcagme-expand:after{
    content: '\002261';
  }
  
  section.wcagme-header div.wcagme-button.wcagme-minimize:after{
    content: '-';
  }
  
  /** Modal Block **/
  section.wcagme-modal{
    height: 0;
  }

  section.wcagme-modal.wcagme-expanded{
    height: 12em;
  }
  
  section.wcagme-modal.wcagme-expanded tbody{
    max-height:12em;
  }
  
  .wcagme-show-form .wcagme-result,
  .wcagme-show-result .wcagme-form{
    display:none;
  }
  
  fieldset legend,
  fieldset ul{
    display: block;
    float: left;
  }
  
  #wcagme-form fieldset,
  #wcagme-form ul,
  #wcagme-form ul li{
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  

#indicator{
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
}

#test-results tr.error,
#test-results tr.warning,
#test-results tr.notice{
    display:none;
}

#test-results.show-error tr.error,
#test-results.show-warning tr.warning,
#test-results.show-notice tr.notice {
    display: table-row;
}

.show-result.show-error a.errors,
.show-result.show-warning a.warnings,
.show-result.show-notice a.notices,
.show-result.show-all a.all{
    font-weight: bold;
}

#form fieldset,
#form ul,
#form ul li{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.border-white{
    border: 1px solid var(--color-fg);
    padding: 0 1em;
}

#form fieldset ul > li.aria-browser{
    margin-left: 1em;
    background-color: transparent;
    color: var(--color-fg);
    cursor: pointer;
}

#form fieldset ul > li.aria-browser a{
    text-decoration: none;
}

fieldset{
    border: none;
}

fieldset legend,
    fieldset ul{
    display: block;
    float: left;
}

console-main.busy{
    cursor: wait;
}

.header a, 
    console-output a,
    console-output a:visited, 
    console-output a:hover, 
    console-output a:active{
    color: var(--color-fg);
    text-decoration: none;
    cursor: pointer;
}

console-output table,
#test-results-noMessages{
    width: calc(100% - 1rem);
    max-width: 1000px;
    margin: 0 auto;
}

console-output table tbody{
    overflow-y: auto;
}

console-output table tbody,
console-output table tr{
    display:block;
}

console-output table tr:first-of-type{
    display: table-row;
    text-align:left;
}

console-output td{
    vertical-align: baseline;
}

console-output td.number{
    color:var(--color-ltfg);
}

console-output td:nth-child(2),
console-output th:nth-child(2){
    text-align: center;
    padding: 0 1em;
    /* text-decoration: underline; */
}

console-output td:nth-child(2) div.italic{
    font-style: italic;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    max-width: 12ch;
    text-overflow: ellipsis;
}

/* console-output td:nth-child(2) div.italic:hover{
    max-width: 24ch;
    max-height: 3em;
    white-space: unset;
} */

console-main ul{
    list-style-type: none;
}

console-output .messageTechniques ul{
    max-height: 1.5em;
    overflow: clip;
}

console-output .messageTechniques:hover ul{
    max-height:fit-content;
}
console-main {
    font-size: 14px;
    background: var(--color-bg);
    line-height: 1.5;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

section{
    color:var(--color-fg);
    background: var(--color-bg);
}

section.header{
    height: 1.5em;
    padding-top:0.1rem;
    width: 100%;
    background-color: #202020;
    color:white;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

ruler{
    cursor: n-resize;
    padding:3px 0;
    display: block;
    unicode-bidi: isolate;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-width: 0.5px;
    background-color: #202020;
}

section.header div{
    box-sizing: border-box;
}

section.header > div:nth-child(1){
    float: left;
    padding-left: 0.5em;
    width: 6em;
    max-width: 6em;
    min-width: 6em;
}

section.header > div:nth-child(2){
    float: left;
    width: calc(100% - 13.5em);
    max-width: calc(100% - 13.5em);
    min-width: calc(100% - 13.5em);
}

section.header > div:nth-child(3){
    float:left;
    text-align: right;
    padding-right: 0.5em;
    width: 5em;
    max-width: 5em;
    min-width: 5em;
}

section.header > div:nth-child(4){
    float:right;
    text-align: right;
    padding-right: 0.5em;
    width: 2em;
    max-width: 2em;
    min-width: 2em;
}

section.header div.button{
    position:fixed;
    right:0;
    max-height:1rem;
}

section.header div.button.expand:after{
    content: "\002261";
}

section.header div.button.minimize:after{
    content: "\002a2f";
}

/** Modal Block **/
section.modal{
    height: 0;
}
section.modal.expanded{
    height: 12rem;
}

section.modal.expanded tbody{
    max-height:12rem;
}

.show-form .result,
.show-form .landmarks,
.show-landmarks .form,
.show-landmarks .result,
.show-result .landmarks,
.show-result .form{
    display:none;
}

.font-size-selector div.icon span:before{
    content: "T\0021f5";
    color:var(--color-fg);

}
.font-size-selector.show-icon .buttons,
.font-size-selector.show-buttons .icon{
    display: none;
}

.grayed, .grayed+div{
    color: var(--color-ltfg);
}