:root{
    --size-button: 45px;
    --size-border-radius: 5px;
    --color-background: #202020;
}

*{
    box-sizing: border-box;
}

button{
    display: grid;
    padding: 0;
    padding-inline: 0;
    margin: 0;
    border-style: none;
    padding-block: 0;
    background: transparent;
}

button svg{
    width: 80%;
    height: 80%;
    margin-top: 10%;
    stroke:aliceblue;
    fill:aliceblue;
}

button svg:active,
button svg:hover{
    border: 1px solid red;
}

.player{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-background);
    position: fixed;
    margin:0;
    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    border-radius: var(--size-border-radius);
    border: 2px solid aliceblue;
}

.play span,
.info span{
    cursor: pointer;
    width: var(--size-button);
    height: var(--size-button);
}


